<%- include('partials/header.ejs'); -%>

    <nav class="navbar text-bg-success p-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Book Notes</a>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="header p-4">
            <h1>Good <%= timeOfDay %>
            </h1>
        </div>

        <div class="books">
            <% if (listOfBooks.length===0) { %>
                <div class="jt-gif p-4">
                    <p class="text-muted fst-italic">📚 You haven't added any books yet. Start by adding your first one!
                    </p>
                    <img src="/assets/images/pulp-fiction-john-travolta.gif" class="rounded-4 p-2"
                        alt="John Travolta Pulp Fiction meme">
                </div>
                <%- include('partials/form.ejs'); -%>
                    <% } else { %>
                        <div class="table-responsive rounded-3">
                            <table class="table table-hover table-borderless" id="books-added">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Book title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Your rating</th>
                                        <th scope="col">Your thoughts</th>
                                        <th scope="col">Date finished</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <% for (let book of listOfBooks) { %>
                                        <tr>
                                            <th scope="row">
                                                <%= book.id %>
                                            </th>
                                            <td onmouseover="showEditButton('<%=book.id%>')"
                                                onmouseout="hideEditButton('<%=book.id%>')">
                                                <div>
                                                    <form class="justify-content-center d-flex gap-4" action="/edit"
                                                        method="post">
                                                        <p id="title<%= book.id %>" class="mb-0">
                                                            <%= book.title %>
                                                        </p>
                                                        <input class="form-control" type="hidden" name="updatedBookId"
                                                            value="<%= book.id %>">
                                                        <input class="form-control" id="input<%= book.id %>" type="text"
                                                            name="updatedBookTitle" value="<%= book.title %>"
                                                            hidden="true" />
                                                        <button id="edit<%= book.id %>" class="btn btn-sm p-0"
                                                            type="button" hidden onclick="handler('<%=book.id%>')">
                                                            ✏️
                                                        </button>
                                                        <button id="done<%= book.id %>" class="btn btn-sm p-0"
                                                            type="submit" hidden>
                                                            ✅
                                                        </button>
                                                        <button id="cancel<%= book.id %>" class="btn btn-sm p-0"
                                                            type="button" onclick="cancelEdit('<%=book.id%>')" hidden>
                                                            ❌
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                            <td>
                                                <%= book.author %>
                                            </td>
                                            <td>
                                                <%= book.rating %>
                                            </td>
                                            <td>
                                                <%= book.notes %>
                                            </td>
                                            <td>
                                                <%= new Date(book.date_read).toISOString().slice(0, 10) %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        <% } %>
        </div>
        <%- include('partials/form.ejs'); -%>
    </div>

    <%- include('partials/footer.ejs'); -%>