<%- include('partials/header.ejs'); -%>

    <nav class="navbar text-bg-success p-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/readlog.png" alt="Readlog logo" width="80" height="60"
                    class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="header p-4">
            <h1>Good <%= timeOfDay %>
            </h1>
        </div>

        <div class="books">
            <% if (listOfBooks.length===0) { %>
                <div class="jt-gif p-4">
                    <p class="text-muted fst-italic">📚 You haven't added any books yet. Start by adding your first one!
                    </p>
                    <img src="/assets/images/pulp-fiction-john-travolta.gif" class="rounded-4 p-2"
                        alt="John Travolta Pulp Fiction meme">
                </div>
                <%- include('partials/form.ejs'); -%>
                    <!-- Form to add a new book added to a partial to prevent clobbering of this page -->
                    <% } else { %>
                        <div class="table-responsive rounded-3">
                            <table class="table table-hover table-borderless" id="books-added">
                                <thead>
                                    <tr class="align-middle">
                                        <!-- Add cursor: pointer to turn sorting user friendlier -->
                                        <th scope="col" style="cursor: pointer;">Book ID</th>
                                        <th scope="col" style="cursor: pointer;">Book title</th>
                                        <th scope="col" style="cursor: pointer;">Author</th>
                                        <th scope="col" style="cursor: pointer;">Your rating</th>
                                        <th scope="col" style="cursor: pointer;">Your thoughts</th>
                                        <th scope="col" style="cursor: pointer;">Date finished
                                        </th>
                                        <th scope="col">Delete entry</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider align-middle">
                                    <% for (let book of listOfBooks) { %>
                                        <tr>
                                            <th scope="row">
                                                <%= book.id %>
                                            </th>
                                            <td class="position-relative text-center">
                                                <div>
                                                    <!-- Form to edit book specifics. All of them follow the same basic principles: the edit button appears on hovering; when it's clicked, both the 'x' and the check appear so the user can choose to edit the field and save the update or cancel altogether -->
                                                    <form class="edit-wrapper justify-content-center d-flex gap-4"
                                                        action="/edit" method="post">
                                                        <p id="title<%= book.id %>" class="mb-0">
                                                            <%= book.title %>
                                                        </p>
                                                        <input class="form-control" type="hidden" name="updatedBookId"
                                                            value="<%= book.id %>">
                                                        <input class="form-control" id="inputTitle<%= book.id %>"
                                                            type="text" name="updatedBookTitle"
                                                            value="<%= book.title %>" hidden="true" />
                                                        <button id="editTitle<%= book.id %>"
                                                            class="btn btn-sm p-0 edit-btn position-absolute end-0 top-50 translate-middle-y"
                                                            type="button"
                                                            onclick="handler('<%=book.id%>', 'Title')">✏️</button>
                                                        <button id="doneTitle<%= book.id %>" class="btn btn-sm p-0"
                                                            type="submit" hidden>✅</button>
                                                        <button id="cancelTitle<%= book.id %>" class="btn btn-sm p-0"
                                                            type="button" onclick="cancelEdit('<%=book.id%>', 'Title')"
                                                            hidden>❌</button>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="position-relative text-center">
                                                <div>
                                                    <form class="edit-wrapper d-flex gap-4 justify-content-center"
                                                        action="/edit" method="post">
                                                        <p id="author<%= book.id %>" class="mb-0">
                                                            <%= book.author %>
                                                        </p>
                                                        <input class="form-control" type="hidden" name="updatedBookId"
                                                            value="<%= book.id %>">
                                                        <input class="form-control" id="inputAuthor<%= book.id %>"
                                                            type="text" name="updatedBookAuthor"
                                                            value="<%= book.author %>" hidden="true" />
                                                        <button id="editAuthor<%= book.id %>"
                                                            class="btn btn-sm p-0 edit-btn position-absolute end-0 top-50 translate-middle-y"
                                                            type="button"
                                                            onclick="handler('<%=book.id%>', 'Author')">✏️</button>
                                                        <button id="doneAuthor<%= book.id %>" class="btn btn-sm p-0"
                                                            type="submit" hidden>✅</button>
                                                        <button id="cancelAuthor<%= book.id %>" class="btn btn-sm p-0"
                                                            type="button" onclick="cancelEdit('<%=book.id%>', 'Author')"
                                                            hidden>❌</button>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="position-relative text-center">
                                                <div>
                                                    <form class="edit-wrapper d-flex gap-4 justify-content-center"
                                                        action="/edit" method="post">
                                                        <p id="rating<%= book.id %>" class="mb-0">
                                                            <%= book.rating %>
                                                        </p>
                                                        <input class="form-control" type="hidden" name="updatedBookId"
                                                            value="<%= book.id %>">
                                                        <input class="form-control" id="inputRating<%= book.id %>"
                                                            type="text" name="updatedBookRating"
                                                            value="<%= book.rating %>" hidden="true" />
                                                        <button id="editRating<%= book.id %>"
                                                            class="btn btn-sm p-0 edit-btn position-absolute end-0 top-50 translate-middle-y"
                                                            type="button"
                                                            onclick="handler('<%=book.id%>', 'Rating')">✏️</button>
                                                        <button id="doneRating<%= book.id %>" class="btn btn-sm p-0"
                                                            type="submit" hidden>✅</button>
                                                        <button id="cancelRating<%= book.id %>" class="btn btn-sm p-0"
                                                            type="button" onclick="cancelEdit('<%=book.id%>', 'Rating')"
                                                            hidden>❌</button>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="position-relative text-center">
                                                <div>
                                                    <form class="edit-wrapper d-flex gap-4 justify-content-center"
                                                        action="/edit" method="post">
                                                        <p id="notes<%= book.id %>" class="mb-0">
                                                            <%= book.notes %>
                                                        </p>
                                                        <input class="form-control" type="hidden" name="updatedBookId"
                                                            value="<%= book.id %>">
                                                        <input class="form-control" id="inputNotes<%= book.id %>"
                                                            type="text" name="updatedBookNotes"
                                                            value="<%= book.notes %>" hidden="true" />
                                                        <button id="editNotes<%= book.id %>"
                                                            class="btn btn-sm p-0 edit-btn position-absolute end-0 top-50 translate-middle-y"
                                                            type="button"
                                                            onclick="handler('<%=book.id%>', 'Notes')">✏️</button>
                                                        <button id="doneNotes<%= book.id %>" class="btn btn-sm p-0"
                                                            type="submit" hidden>✅</button>
                                                        <button id="cancelNotes<%= book.id %>" class="btn btn-sm p-0"
                                                            type="button" onclick="cancelEdit('<%=book.id%>', 'Notes')"
                                                            hidden>❌</button>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="position-relative text-center">
                                                <div>
                                                    <form class="edit-wrapper d-flex gap-4 justify-content-center"
                                                        action="/edit" method="post">
                                                        <p id="date_read<%= book.id %>" class="mb-0">
                                                            <%= new Date(book.date_read).toISOString().slice(0, 10) %>
                                                        </p>
                                                        <input class="form-control" type="hidden" name="updatedBookId"
                                                            value="<%= book.id %>">
                                                        <input class="form-control" id="inputdate_read<%= book.id %>"
                                                            type="text" name="updatedBookdate_read"
                                                            value="<%= new Date(book.date_read).toISOString().slice(0, 10) %>"
                                                            hidden="true" />
                                                        <button id="editdate_read<%= book.id %>"
                                                            class="btn btn-sm p-0 edit-btn position-absolute end-0 top-50 translate-middle-y"
                                                            type="button"
                                                            onclick="handler('<%=book.id%>', 'date_read')">✏️</button>
                                                        <button id="donedate_read<%= book.id %>" class="btn btn-sm p-0"
                                                            type="submit" hidden>✅</button>
                                                        <button id="canceldate_read<%= book.id %>"
                                                            class="btn btn-sm p-0" type="button"
                                                            onclick="cancelEdit('<%=book.id%>', 'date_read')"
                                                            hidden>❌</button>
                                                    </form>
                                                </div>
                                            </td>
                                            <td>
                                                <!-- Form to delete book entry. The button is a checkbox so it can be styled as a button and not a form submit button. The form action is set to /delete, which is handled in the server-side code. The value of the checkbox is set to the book ID, which is used to identify the book to be deleted. -->
                                                <form action="/delete" method="post">
                                                    <button type="checkbox" class="btn btn-sm p-0" name="deleteBookId"
                                                        value="<%= book.id %>">🗑️</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        <% } %>
        </div>
        <%- include('partials/form.ejs'); -%>
    </div>

    <%- include('partials/footer.ejs'); -%>